/* Note: this is only for css reset & normalize. In my opinion, Tailwind Preflight is the best normalize */
@import 'tailwindcss/preflight.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f9fa;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
